* {
    margin: 0px;
    padding: 0px;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightblue;
    margin-top: 20px;
    padding: 20px;


}

.menus {
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 18px;
}

.banner-container {
    height: 100vh;
    background-image: url("./asset/image/background.jpg"), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
}

.title {
    color: white;
    font-size: 50px;
}

.primary {
    color: red;
}

.description {
    color: white;
    padding: 10px;

    width: 50%;
    margin: auto;
}

.btn {
    padding: 12px 20px;
    border: none;
}

.btn:hover {
    background-color: blueviolet;
    color: white;
}

.bg-primary {
    background-color: red;
    color: white;
}